<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" 
          href="{{ url_for('static', filename='style.css') }}">
    <title>Superhero Aliases</title>
</head>
<body>
    <h1>What aliases do superheroes use?</h1>
    <button>
        <a href="{{ url_for('superhero_view', index=0) }}">
            Go to the superheroes!
        </a>
    </button>
    <br>
    <button>
        <a href="{{ url_for('add_superhero') }}">
            Add a new hero
        </a>
    </button>
    <h2>Full List</h2>
    <ul>
        {% for superhero in superheroes %}
            <li>
                <a href="{{ url_for('superhero_view', index=loop.index0) }}">
                    {{ superhero.Name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>