<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Superheroes</title>
</head>
<body>
    <h1>Here's a superhero alias</h1>
    Name:   {{ superhero.Name }} <br>
    Alias:  {{ superhero.Alias }}
    <p>
        <button>
            <a href="{{ url_for('superhero_view', index=index + 1) }}">
                Next superhero
            </a>
        </button>
        <br>
        <button>
            <a href="{{ url_for('home') }}">
                Return to the home page
            </a>
        </button>
    </p>
</body>
</html>