<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Superhero Aliases</title>
</head>
<body>
    <h1>What aliases do superheroes use?</h1>
    <img src="/static/comics_erik_mclean.jpg", width="25%">
    <p>
        {{message}}
    </p>
    <button>
        <a href="{{ url_for('superhero_view', index=0) }}">
            Go to the superheroes!
        </a>
    </button>
    <h2>Superheroes</h2>
    <ul>
        {% for superhero in superheroes %}
            <li>
                <a href="{{ url_for('superhero_view', index=loop.index0) }}">
                    {{ superhero.Name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>